# Игнорировать папку Visual Studio с настройками проекта
.vs/

# Игнорировать папку сборки x64
x64/

# Игнорировать исполнимые файлы и объектные файлы
*.exe
*.o
*.a

# Игнорировать файлы настроек проекта
*.vcxproj.user

# Игнорировать файлы конфигурации и кеши, которые могут быть созданы Visual Studio
*.user
*.suo
*.sdf
*.opensdf

# Игнорировать временные файлы
Thumbs.db
.DS_Store
