# Игнорируем скомпилированный исполнимый файл
program.exe

# Игнорируем временные файлы, создаваемые VSCode
.vscode/

# Игнорируем файл с данными
array_data.txt

# Игнорируем объектные файлы, создаваемые при компиляции C++
*.o

# Игнорируем папку с кешем компилятора (если используете CMake или другие сборочные системы)
CMakeCache.txt
CMakeFiles/
Makefile
*.cmake

# Игнорируем временные файлы операционной системы
Thumbs.db
*.swp
